@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@include breakpoint-sm {
  .layout {
    width: 80%;
  }
}
